<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surveyor.app.surveyorapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".utils.SharedObjects"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PendingDeviceActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CaptureImageActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".survey_form.OptionListActivity" />

        <service
            android:name=".sync_service.ConnectivityBroadcastReceiver"
            android:exported="false" />

        <service
            android:name=".sync_service.MySyncService"
            android:exported="false" />
        <service
            android:name=".sync_service.UpdateLocationService"
            android:exported="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="110a8cdee58442a5b57220d719a119f7d17651d2" />
    </application>

</manifest>